html,
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

#title{
  margin-top:17%;
}
h1{
  color:#282E34;
 text-shadow: 2px 2px 3px;
  /*letter-spacing: 2px;*/
}
.intro{
  letter-spacing:7px;
}
.intro-divider{
  border-top:2px solid #282E34;
  border-bottom: 1px solid #282E34 ;
}
.social {
    /*margin: 0;*/
    /*padding: 0;*/
    /*margin-left: 30%;*/
    /*margin-top: 20%;*/

}

.social ul {
    margin: 0;
    padding: 10px;
}

.social ul li {
    margin: 15px;
    list-style: none outside none;
    display: inline-block;
}
.social i {
    width: 50px;
    height: 50px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 30px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social .fa-twitter { /* round twitter icon*/
    background: #00ABE3;
}
.social .fa-linkedin { /* round linkedin icon*/
    background: #0094BC;
}
.social .fa-github { /* round github icon*/
    background: #343434;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.white{
      padding: 50px 0;
      border-top:1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
}
.grey{
  padding:50px 0;
  border-bottom:1px solid;
}
.project1{
      margin:0;
}
.lead{
  font-size: 18px;
    font-weight: 400;
}
.bgimg-1 {
  background-image: url("https://images.unsplash.com/photo-1445964047600-cdbdb873673d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=275069d4cf6753f42b36a0d47572015b");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../photos/road.jpg");
  min-height: 400px;
}
.bgimg-3 {
  background-image: url("https://images.unsplash.com/reserve/d1Ntvq9mSVmV0RcnWN1Y_23rd%20Studios%20Photography%20Boulder%20Colorado.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=52ab9f311a72f9698f90f1c195d4bd3d");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.about{
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
.skill{
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
svg {
   width: 160px !important;
    height: 124px !important;
}
.skillset{
    font-size: 600%;
    margin-left: 45px;
}
.skillset i{
    margin-right: 40px;
}
.project{
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
.foot{
  background-color: #AEA8D3;
}
