html,
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("https://images.unsplash.com/photo-1445964047600-cdbdb873673d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=275069d4cf6753f42b36a0d47572015b");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://images.unsplash.com/27/grass-trek.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=b554972357a90b1951f54ca3bddb4440");
  min-height: 400px;
}
.bgimg-3 {
  background-image: url("https://images.unsplash.com/reserve/d1Ntvq9mSVmV0RcnWN1Y_23rd%20Studios%20Photography%20Boulder%20Colorado.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=52ab9f311a72f9698f90f1c195d4bd3d");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.about{
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
.skill{
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
svg {
   width: 160px !important;
    height: 124px !important;
}
.skillset{
    font-size: 600%;
    margin-left: 45px;
}
.skillset i{
    margin-right: 40px;
}