html,
body {
    height: 100%;
    width: 100%;
}
/*.navbar {*/
/*   background-color: transparent;*/
/*   background: transparent;*/
/*   border-color: transparent;*/
/*    margin-top: 35px;*/
/*}*/
#name{
    margin-top: 55px;
}





/* padded section */

.pad-section {
    padding: 50px 0;
}

.pad-section img {
    width: 100%;
}


/* vertical-centered text */

.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


/* additional sections */

#home {
    background: url("photos/photo-1449100840062-49e9aca7c8ec.jpeg") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#homeh1{
    margin-top:290px;
}

#about {
    background-color: darkgrey
}

#services {
    background-color: darkcyan;
    color: #ffffff;
}

#services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

#information {
    background: url(photos/photo-1449100840062-49e9aca7c8ec.jpeg) no-repeat center center fixed;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#information .panel {
    opacity: 0.85;
}

