html,
body {
    height: 100%;
    width: 100%;
}


/* padded section */

.pad-section {
    padding: 50px 0;
}

.pad-section img {
    width: 100%;
}


/* vertical-centered text */

.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


/* additional sections */

#home {
    background: url(https://images.unsplash.com/photo-1431263154979-0982327fccbb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=c969fe92d41465b7f668d88b44510d1b) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about {}

#services {
    background-color: #306d9f;
    color: #ffffff;
}

#services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

#information {
    background: url(https://images.unsplash.com/photo-1478480154178-88540b2be3b0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ac240f2c1d5e80dad13078ff079285c6) no-repeat center center fixed;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#information .panel {
    opacity: 0.85;
}

